.header {
  position: sticky;
  top: 0;
  background-color: #4372fe;
  height: 50px;
  width: 100%;
  position: sticky !important;
}

.header > h4 {
  padding-top: 10px;
  padding-left: 10px;
}

.topbar__dropdown__selector {
  display: none;
  width: 100%;
  margin-top: 22px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #bcbcbc;
  height: 50px;
  font-weight: 600;
}

.topbar__dropdown__menu__container {
  width: 100%;
  background-color: #f9f9f9;
  height: 100vh;
}

.topbar__dropdown__menu {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.topbar__dropdown__menu__item {
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-weight: 400;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #bcbcbc;
  color: #6d6d6d;
}

@media screen and (max-width: 1024px) {
  .topbar__dropdown__selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 22px;
    background-color: #f9f9f9;
    height: 50px;
  }
  .topbar__dropdown__menu__container {
    display: flex;
  }
}
