body {
  margin: 0;
  height: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.mainBody {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  height: 100%;
  width: 10% !important;

  padding-top: 0 !important;
}

.sidebar__section {
  margin: 0;
  padding: 0;
  background-color: rgba(243, 231, 231, 0);
}

.siderbaar__button {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: auto;
}

.siderbaar__button button {
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.184);
  padding: 20px;
  height: 80px;
}

.mainbody__left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 40%;
  box-shadow: 1px solid gray;
  overflow-y: scroll !important;
}

.editor__preview {
  display: flex;
  margin: auto;
  height: 90%;
  width: 90%;
  box-shadow: 2px solid gray;
  overflow-y: scroll !important;
}

.mainbody__right {
  display: flex;
  height: 100vh;
  width: 50%;
  box-shadow: 1px solid gray;
  background-color: rgba(73, 71, 71, 0.413);
}

.cv__preview {
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: auto;
  height: 90%;
  width: 90%;
  box-shadow: 2px solid gray;
  background-color: #ffff;
}

@media screen and (max-width: 1024px) {
  /* .mainbody__right {
    display: none;
  }
  .mainbody__left {
    width: 100%;
  } */
  .mainBody {
    display: none;
  }
}
